
body{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

/*Header*/

header{
	width: 100%;
	height: 770px;
}

.header-bg{
	width: 100%;
	height: 770px;
	background: url(img/header-bg.jpg) no-repeat; 
	background-size: 100%;
}

.wrap{
	width: 1140px;
	margin: 0 auto;
}

.navigations{
	color: #fff;
	display: flex;
	justify-content: space-between;
}

.navigations .logo{
	font-weight: bold;
	font-size: 24px;
}

.navigations .menu{
	margin-top: 45px;
	width: 555px;
	height: 23px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigations .menu a{
	text-decoration: none;
	color: #fff;
	font-weight: 500;
}

.header-content{
	margin-top: 235px;
	text-align: center;
	color: #fff;
}

.header-content h3{
	text-transform: uppercase;
	font-size: 48px;
	margin: 0;
	padding: 0;
}

.header-content p{
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	margin: 0;
	padding: 0;
	margin-top: 24px;
}

.header-content button{
	width: 180px;
	height: 50px;
	background: none;
	border:2px solid #fff;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 16px;
	margin-top: 35px;
}


/*Services*/

.services{
	width: 100%;
	height: 580px;
}

.services-text{
	text-align: center;
}

.services-text h2{
	margin-top: 70px;
	color: #555;
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
}

.services-text p{
	margin-top: 35px;
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	color: #555;
}

.services-items{
	margin-top: 75px;
	display: flex;
	justify-content: space-between;
}

.services-item{
	text-align: center;
	width: 330px;
}

.services-item h3{
	color: #555;
	font-size: 14px;
	text-transform: uppercase;
}

.services-item p{
	font-family: 'Roboto Slab', serif;
	color: #555;
	font-size: 14px;
	line-height: 1.7;
}

/*about*/

.about-items .about-itm .photo{
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.about-items .about-itm:first-child .photo{
	background: url(img/ab4.png);
	width: 262px;
	height: 250px;
}

.about-items .about-itm:nth-child(2) .photo{
	background: url(img/ab3.png);
	width: 262px;
	height: 250px;
}

.about-items .about-itm:nth-child(3) .photo{
	background: url(img/ab2.png);
	width: 262px;
	height: 250px;
}

.about-items .about-itm:nth-child(4) .photo{
	background: url(img/ab1.png);
	width: 262px;
	height: 250px;
}

.about-text{
	text-align: center;
	margin-top: 100px;
}

.about-text h2{
	color: #555;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 600;
	padding-bottom: 30px;
}

.about-text p{
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	color: #555;
	word-spacing: 3px;
	margin-bottom: 40px;
}

.about-info{
	display: flex;
	justify-content: space-between;
	padding-bottom: 40px;
}

.about-info p{
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
	line-height: 1.8;
	color: #555;
}

.about-info p:first-child{
	padding-right: 40px;
}

.about-items{
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding-bottom: 100px;
}

.about-itm{
	text-align: center;
}

.bottom-text p:first-child{
	text-transform: uppercase;
	font-weight: 550;
	font-size: 14px;
}

.bottom-text p:nth-child(2){
	font-family: 'Roboto Slab', serif;
	font-size: 13px;
}

.icons{
	margin-bottom: 25px;
}

.icons img{
	padding-right: 8px;
}

.icons img + img{
	margin-bottom: 7px;
}


.icons{
	visibility: hidden;
}

.icons:hover{
	cursor: pointer;
	visibility: visible;
}

/*WORK*/

.work{
	width: 100%;	
	padding-bottom: 100px;
}

.work-header{
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	color: #555;
}

.work-menu{
	padding-top: 15px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Roboto Slab', serif;
	width: 370px;
	display: flex;
	justify-content: space-between;
	padding-bottom: 70px;
}

.work-menu a{
	text-decoration: none;
	color: #555;
	font-size: 12px;
}

.work-menu a:hover{
	color: #c0301c;
}

.gallery-itm{
	width: 360px;
	height: 320px;
	/*background: url(img/gallery/01.png);*/
	background: #e53935;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.work-gallery .img{
	width: 360px;
	height: 320px;
	background: #e53935;
}

.work-gallery .child{
		margin-top: 30px;
}

.work-gallery .right{
	margin-left: 30px;
}
/*.work-gallery img:first-child{
	background: #e53935;
}
*/
.work-gallery{
	display: flex;
	flex-wrap: wrap;
}

.gallery-itm p{
	color: #fff;
	font-weight: 550;
	font-size: 18px;
	margin: 0;
	padding: 0;
}

.gallery-itm p:nth-child(2){
	font-size: 12px;
	font-weight: 450;
	margin-top: 15px;
}



.gallery-itm button{
	margin-top: 25px;
	height: 40px;
	width: 100px;

	background-color: #fff;
	border:none;
	font-family: 'Roboto Slab', serif;
	text-transform: uppercase;
	color: #e5393e;
	font-size: 14px;
}

.gallery-itm button span {
	font-size: 20px;
}

/*Poster Work*/

.poster-work{
	background: url(img/bg2.jpg) no-repeat;
	background-size: 100%;
	height: 370px;
	width: 100%;
	text-align: center;
	font-family: 'Roboto Slab', serif;
	color: #fff;
	font-size: 30pt;
	padding-bottom: 50px;
}

.poster-work p{
	padding-top: 100px;
}

.poster-work button{
	margin-top: 25px;
	height: 50px;
	width: 180px;
	background: none;
	border:2px solid #fff;
	font-family: 'Roboto Slab', serif;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	border-radius: 5px;
}

/*Posts*/

.posts{
	font-family: 'Roboto Slab', serif;
	width: 100%;
}

.posts-head h2{
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: #555;
	font-size: 20pt;
}

.posts-head{
	margin-top: 100px;
	text-align: center;
}

.posts-head p{
	margin-top: 55px;
	color: #555;
	font-size: 16pt;
	font-weight: 400;
}

.posts-items{
	margin-top: 75px;
}

.posts-itm .img{
	width: 460px;
	height: 320px;
	background: #f15d26;
}

.posts-itm{
	display: flex;
	flex-direction: row;
	padding-bottom: 75px;
}

.item-text{
	margin-left: 40px;
}

.data-box{
	width: 75px;
	height: 75px;
	background: none;
	border: 2px solid #555555;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #777;
}

.data-box b{
	font-size: 24px;
}

.item-head{
	display: flex;
	flex-wrap: wrap;
}

.text-near{
	display: flex;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
}

.text-near p{
	padding: 0;
	margin: 0;
}

.text-near p:first-child{
	margin-left: 27px;
	margin-top: 10px;
	text-transform: uppercase;
	color: #c0301c;
	font-weight: 550;
}

.text-near p:nth-child(2){
	font-size: 13px;
	margin-left: 40px;
	margin-top: 17px;
	color: #777;
}

.text-near p:nth-child(2) span{
	color: #c0301c;
}

.item-text .main-text{
	margin-top: 25px;
	font-size: 14px;
	color: #555;
	line-height: 1.7;
}

.item-text a{
	margin-top: 35px;
	text-decoration: none;
	font-weight: 700;
	color: #c0301c;
	font-size: 16px;
}

.item-text a:hover{
	text-decoration: underline;
}

.item-text .none{
	color: #777;
}

.posts-itm:nth-child(2){
	padding-bottom: 175px;
}

/*BRANDS*/

.brands .wrap{
	width: 900px;
	margin: 0 auto;
}

.brands{
	text-align: center;
	font-family: 'Roboto Slab', serif;
	padding-bottom: 120px;
}

.brands-container{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.brands-conteiner img{
	width: 100%;
	height: 100%;
}

.brands-text p:first-child{
	margin-top: 55px;
	font-size: 16px;
	color: #555;
	line-height: 1.7;
}

.brands-text p:nth-child(2){
	font-size: 20px;
	margin-top: 25px;
	color: #555;
}

.brands-text .round{
	width: 13px;
	height: 13px;
	background:#dddddd;
	border-radius: 50%;
	transition: .3s;
}

.rounds .round:first-child{
	background: #c0301c;
}

.rounds .round:hover{
	background: #c0301c;
}

.rounds{
	padding-top: 15px;
	padding-bottom: 18px;
	width: 53px;
	height: 13px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

/*CONTACTS*/

.contact{
	font-family: 'Roboto Slab', serif;
	padding-bottom: 100px;
}

.contact-head-text{
	text-align: center;
	margin-top: 30px;
}

.contact-head-text h2{
	text-transform: uppercase;
	font-size: 20px;
	color: #555;
	font-family: 'Montserrat', sans-serif;
}

.contact-head-text p{
	margin-top: 45px;
	padding-bottom: 75px;
	font-size: 16px;
	color: #555;
}

.contact-main{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.contact-info{
	height: 270px;
	width: 210px;
	display: flex;
	flex-direction: column;
}

.info-head{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 20px;
	flex-direction: row;
}

.info-head p{
	margin-left: 13px;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	color: #555;
	font-weight: 550;
}

.info-itm p:nth-child(2){
	font-size: 14px;
	color: #555;
	margin-left: 35px;
	line-height: 1.7;
}

.form{
	width: 730px;
	height: 135px;
	display: flex;
	flex-wrap: wrap;
}

.form form .head-input input{
	background: none;
	border:1px solid #555555;
	border-right: none;
	text-transform: uppercase;
	height: 43px;
	width: 333px;
	padding-left: 17px;
	color: #555;
}

.form form .head-input input:first-child{
	border:1px solid #c0301c;
	border-right: none;
}


.form form .head-input input:hover{
	border:1px solid #c0301c;
	border-right: none;
}

.head-input{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.head-input input:nth-child(3){
	margin-top: 21px;
}

.head-input input:nth-child(4){
	margin-top: 21px;
}

.form form textarea{
	margin-top: 21px;
	text-transform: uppercase;
	width: 721px;
	height: 93px;
	padding-left: 17px;
	font-family: 'Roboto Slab', serif;
	border:1px solid #555555;
	font-size: 14px;
	color: #555;
	padding-top: 12px;
}

.form form button{
	width: 168px;
	border:1px solid #555555;
	font-family: 'Roboto Slab', serif;
	background: none;
	text-align: center;
	margin-top: 21px;
	color: #555;
	text-transform: uppercase;
	height: 43px;
}

.form form button:hover{
	border:1px solid #c0301c;
}

.footer-itm{
	display: flex;
	flex-direction: row;
}

.footer-itm p{
	padding-top: 17px;
	margin-left: 47px;
	color: #555;
	font-size: 14px;
}


/*FOOTER*/

footer{
	height: 295px;
	width: 100%;
	background: #c0301c;
	font-family: 'Roboto Slab', serif;
	text-align: center;
	font-size: 15px;
	color: #fff;
}

footer p{
	margin-top: 40px;
}

.img-box{
	padding-top: 100px;
	display: flex;
	width: 185px;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto; 
}

.hr{
	background: #fff;
	height: 2px;
	width: 50px;
	margin: 0 auto;
	margin-top: 30px;
}
